@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Inter:wght@300;400;600;800&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.font-serif {
  font-family: "Playfair Display", serif;
}
